flask
flask-cors>=5.0.0
google-api-python-client
google-auth-oauthlib
beautifulsoup4
google-generativeai
google-cloud-texttospeech
lxml
gunicorn
werkzeug>=3.0.6
protobuf>=4.25.8
urllib3>=2.5.0
requests>=2.32.4
zipp>=3.19.1