flask>=3.1.3
flask-cors>=6.0.2
google-api-python-client>=2.194.0
google-auth-oauthlib
beautifulsoup4>=4.14.3
google-generativeai>=0.8.6
google-cloud-texttospeech>=2.36.0
lxml
gunicorn>=25.3.0
werkzeug>=3.1.8
protobuf>=7.34.1
urllib3>=2.6.3
requests>=2.33.1
zipp>=3.19.1
psycopg2-binary>=2.9.11
pyasn1>=0.6.3
flask-limiter>=3.5.0
sentry-sdk[flask]>=2.58.0
python-dotenv>=1.0.0
posthog>=3.5.0
pygments>=2.20.0